<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakarot.mall.product.mapper.CategoryMapper">

    <select id="selectEnabledList" resultType="com.kakarot.mall.product.vo.CategoryVO">
        SELECT id, category_name, sort_num
        FROM mall_category
        WHERE status = 1
        ORDER BY sort_num ASC, id ASC
    </select>

</mapper>
